<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login_register.css"> <!--CSS file-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/general.css"> <!--CSS file-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> <!--Bootstrap CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> <!--Google fonts-->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> <!--Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"> <!--Favicon-->
    <style>
      .alert-custom{
        background-color: #f84c5e;
        color:#fff;
      }
    </style>

  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a style="color: #115402; font-weight: bold" class="navbar-brand" href="http://localhost:3000">slido</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="http://localhost:3000">HOME</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> <!--Navbar -->
      <div id="main">
          <div class="form">
              <h4 style="margin-bottom: 2rem">ADMIN</h4>
              <form action="#" method="post">
                  <div style="margin-top: 2rem">
                      <% if(messages.error){ %>
                          <div class="alert alert-custom" style="margin-top:1rem;">
                          <span aria-hidden="true" style="font-size:1.2rem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
                          </span>
                              <strong><%= messages.error %></strong>
                          </div>
                      <% } %>
                  </div>
                  <!-- Email input -->
                  <div class="form-floating mb-4">
                      <input type="email" name="email" aria-describedby="email" placeholder="name@example.com" id="email" class="form-control" required/>
                      <label class="form-label" for="email">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-floating mb-4">
                      <input type="password" name="password" placeholder="Password" id="password" class="form-control" required/>
                      <label class="form-label" for="password">Password</label>
                      <div style="font-weight: bold" class="form-text">We'll never share your data with anyone else.</div>
                  </div>

                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                          <!-- Checkbox -->
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="form2Example31" onclick="toggleVisibility()"/>
                              <label class="form-check-label" for="form2Example31"> Show password </label>
                          </div>
                      </div>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-primary btn-block-custom btn-block mb-4">Login</button>
                  <!-- Instructor button -->
                  <div class="text-center mt-5">
                      <p>Are you instructor? <a style="color: #41d5e1" href="http://localhost:3000/login/instructor-login">Instructor login</a></p>
                  </div>
              </form>
          </div>
      </div>
      <div class="clear"></div>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 bg-light">
          © 2022 Copyright:
          <a class="text-dark" href="https://www.linkedin.com/in/said-ali%C4%87-03471518b/" target="_blank">ALIC SAID</a>
        </div>
        <!-- Copyright -->
      </footer> <!--Footer-->
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> <!--Bootstrap JS-->
    <script>
      function toggleVisibility() {
        var x1 = document.getElementById('password');

        if (x1.type === "password") {
          x1.type = "text";
        } else {
          x1.type = "password";
        }
      }
    </script>
  </body>
</html>
